@import "kanagawa.css";

#tray {
  padding: 6px 10px 6px 10px;
  color: @foreground;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray>.active,
#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}
